/*General Styling*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  color: #242c4c;
  scroll-behavior: smooth;
}
/*links*/
a {
  text-decoration: none;
}

/*navbar container*/
#navbar {
  background: #fff;
  height: 8vh;
  width: 100%;
  z-index: 10;
  border-bottom: 5px solid #242c4c;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed; 
}

/*logo and company name*/
.brand {
  display: flex;
  align-items: center;
}

.logo {
  width: 70px;
  height: 7.5vh;
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

.nav-links li {
  list-style: none;
  margin: 0px 10px;
}

.nav-links li a:hover {
  background: #F1E5E0;
  border-radius: 10px;
  padding: 10px;
  transition: all .5s ease 0s;
}

/*hamburger menu*/
.burger {
  display: none;
}

/*hero section*/
#home {
  background: url('../img/header-image.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home h1 {
  font-size: 5rem;
  font-weight: 1200;
  margin-left: 2rem;
  padding: 0.5rem;
}

#home p {
  font-size: 1.8rem;
  margin-left: 2rem;
  padding: 0.5rem;
}

/*About section*/
.about-heading {
  text-align: center;
  line-height: 0;
  margin-bottom: 4rem;
  text-transform: uppercase;
}

#about h2 {
  margin-top: 6rem;
  font-size: 7rem;
  opacity: .3;
}

#about h6 {
  font-size: 2rem;
  font-weight: 600;
}

#about p {
  font-size: 1.8rem;
  line-height: 3rem;
  padding: 1.5rem;
  text-align: center;
}

/*Products section*/
#products {
  background: #F1E5E0;
}

#products h2 {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

/*Underline of headings*/
hr {
  height: .25rem;
  width: 25%;    
  margin: auto;
  background: tomato;
  border: none;
  margin-bottom: 20px;
  margin-top: -20px;
}

/*Image Slider*/
.mySlides {
  width: 100%;
  height: 600px; 
  margin: auto;
 }

.mySlides img {
    width: 100%;
    height: 100%;
 }

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  font-size: 2rem;
  font-weight: 600;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}



/* The bullets on image*/
.dot {
  height: 15px;
  width: 15px;
  margin: 0px 2px 20px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*Reviews Section*/

#reviews {
  position: relative;
}

#reviews h2 {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.cards-container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card {
  width: 500px;
  height: 400px; 
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 5px 5px 15px #888888;
  border-radius: 20px;
}

.image-container {
  width: 150px;
  height: 150px;
}

.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 5px 0px 0px 2px tomato;
  margin-top: 10px;
}

#prevBtn {
  position: absolute;
  font-size: 3rem;
  top: 50%;
  left: 20%;
}

#nxtBtn {
  position: absolute;
  font-size: 3rem;
  top: 50%;
  right: 20%;
}

.card h3 {
  font-size: 1.8rem;
  margin: 10px auto;
  text-align: center;
  font-weight: 600;
  padding: 10px
}

.card p {
  font-size: 1.2rem;
  margin: 5px auto;
  color: #4d5b94;
}

/*Contact Section*/

#contact {
  background: #242c4c;
  color: #fff;
}

#contact h2 {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

#contact p {
  text-align: center;
  font-size: 24px;
}

.social-icons {
  display: flex;
  margin: auto;
  justify-content: center;
  font-size: 2rem;
}

.social-icons a {
  margin: 10px 25px;
  padding: 10px;
  color: #fff;
}

.social-icons a:hover {
  box-shadow: 5px 5px 15px #888888;
  border-radius: 20px;
  margin-right: 10px;
}

/*Footer Section*/

#main-footer {
  background: #0a0d18;
  color: #fff;
}

#main-footer p {
  text-align: center;
  padding: 20px;
  font-size: 18px;
}
