*{
  box-sizing: border-box;
}

body {
  font-size: 16px;
  overflow-x: hidden;
}

#navbar {
  position: sticky;
}

.nav-links {
  position: absolute;
  right: 0;
  height: 92vh;
  top: 8vh;
  display: flex;
  flex-direction: column;
  background-color: #242c4c;
  width: 50%;
  align-items: center;
 /* transform: translateX(100%);*/
}


.nav-links li a {
  color: #fff;
  font-weight: 1000;
  margin-bottom: 50px;
}

.burger {
  display: block;
}

.logo {
  width: 50px;
  height: 7.4vh;
}

#home {
   font-size: 15px;
   width: 100%; 
}

#home h1 {
  font-size: 1.8rem;
}

#home h1,
#home p {
  margin-left: .5rem;
  margin-right: .5rem;
  padding: 5px;
}

#about {
  width: 100%;
}

#about h2 {
  font-size: 4rem;
}

#about h6 {
  font-size: 1.5rem;
}

#about p {
  font-size: 16px;
  line-height: 1.8;
}

#products h2 {
  font-size: 3rem;
  padding-top: 20px;
}

.mySlides {
  height: 300px;
  width: 100%;
}

.text {
  font-size: 16px;
}

.dot {
  height: 8px;
  width: 8px;
}

/*Reviews section*/

#reviews h2 {
  font-size: 2rem;
  padding: 5px;
}

.card {
  position: relative;
}

#prevBtn,
#nxtBtn {
  position: absolute;
  font-size: 1.5rem;
  top: 270%;
}

.card {
  width: 250px;
  height: 300px;
}


.image-container {
  width: 80px;
  height: 80px;
}

.card h3 {
  font-size: 1.2rem;
}

.card p {
  font-size: 12px;
  padding: 0px 5px;
}

.customer-reviews {
  position: relative;
}

.customer-reviews i{
  position: absolute;
  font-size: 2rem;
  margin: auto;
}

/*Contact Section*/

#contact h2 {
  font-size: 2rem;
  font-weight: 600;
}

#contact p {
  font-size: 12px;
}

.social-icons {
  font-size: 1rem;
}

.social-icons a {
  margin: 5px 10px;
  padding: 5px;
}

.social-icons a:hover {
  margin-right: 5px;
}

/*Footer Section*/

#main-footer p {
  font-size: 10px;
}