body {
  font-size: 16px;
  overflow-x: hidden;
}

/*Hamburger Menu*/
.nav-links {
  position: absolute;
  right: 0;
  height: 92vh;
  top: 8vh;
  display: flex;
  flex-direction: column;
  background-color: #242c4c;
  width: 50%;
  justify-content: flex-start;
  transform: translateX(100%);
  transition: transform 0.4s ease-in;
}

.nav-links li {
  opacity: 0;
  margin-top: 50px;
  text-align: center;
}

.nav-links li a {
  color: #fff;
}

.burger {
  display: block;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #242c4c;
  margin: 3px;
  transition: all 0.3s ease;
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinksFade{
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  
  to {
    opacity: 1;
    transform: translateX(0px);
   }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,3.5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-3.5px);
}

/*Navbar*/
.logo {
  width: 50px;
  height: 7.4vh;
}

/*Home Section*/
#home h1 {
  font-size: 2rem;
  margin-left: .5rem;
  margin-right: .5rem;
  padding: 5px;
}

#home p {
  font-size: 20px;
  font-weight: 400;
  margin-left: .5rem;
  margin-right: .5rem;
  padding: 5px;
}

/*About Section*/
#about h2 {
  font-size: 4rem;
}

#about h6 {
  font-size: 1.5rem;
}

#about p {
  font-size: 20px;
  line-height: 1.8;
}

/*Products Section*/
#products h2 {
  font-size: 3rem;
  padding-top: 20px;
}

.mySlides {
  height: 300px;
  width: 100%;
}

.text {
  font-size: 16px;
}

.dot {
  height: 8px;
  width: 8px;
}

/*Reviews section*/
#reviews h2 {
  font-size: 2rem;
  padding: 5px;
}

#prevBtn,
#nxtBtn {
  font-size: 1.5rem;
}

.card {
  width: 250px;
  height: 300px;
}


.image-container {
  width: 80px;
  height: 80px;
}

.card h3 {
  font-size: 1.2rem;
}

.card p {
  font-size: 15px;
  padding: 5px;
}

/*Contact Section*/

#contact h2 {
  font-size: 2rem;
  font-weight: 600;
}

#contact p {
  font-size: 16px;
}

.social-icons {
  font-size: 1rem;
}

.social-icons a {
  margin: 5px 10px;
  padding: 5px;
}

.social-icons a:hover {
  margin-right: 5px;
}

/*Footer Section*/

#main-footer p {
  font-size: 13px;
}